[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "modules/zsh-completions"]
	path = modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
